In [30]:
import pandas as pd
from sklearn import linear_model, metrics, preprocessing

In [58]:
train = pd.read_csv('train.csv', header=None)
train

       0         1            2
0   -1.0 -0.024626  1174.600238
1    1.0 -0.978058  1083.198803
2   -1.0  0.314272 -1472.977609
3   -1.0  0.179752   231.017267
4    1.0 -1.262544  -778.271726
..   ...       ...          ...
295 -1.0 -0.126438  1861.564124
296 -1.0 -0.490972  1815.652064
297  1.0 -0.375750  -314.074374
298  1.0 -1.861976 -1083.677679
299  1.0 -0.039329 -1863.884299

[300 rows x 3 columns]

In [59]:
test = pd.read_csv('test.csv', header=None)
test

       0         1            2
0   -1.0  1.651437  1337.453826
1    1.0 -0.866495  1191.232457
2   -1.0  0.789828  -475.647768
3   -1.0  0.179549  1959.095353
4    1.0 -0.434351   568.504207
..   ...       ...          ...
195 -1.0  1.150206  2559.850231
196  1.0 -0.732462   159.748695
197  1.0  0.412912 -1587.206427
198 -1.0 -0.098685   682.034777
199  1.0  0.760949 -1577.448794

[200 rows x 3 columns]

In [65]:
x_train = train.iloc[:, 1:3]
y_train = train.iloc[:, 0]
x_train

            1            2
0   -0.024626  1174.600238
1   -0.978058  1083.198803
2    0.314272 -1472.977609
3    0.179752   231.017267
4   -1.262544  -778.271726
..        ...          ...
295 -0.126438  1861.564124
296 -0.490972  1815.652064
297 -0.375750  -314.074374
298 -1.861976 -1083.677679
299 -0.039329 -1863.884299

[300 rows x 2 columns]

In [66]:
x_test = test.iloc[:, 1:3]
y_test = test.iloc[:, 0]
y_test

0     -1.0
1      1.0
2     -1.0
3     -1.0
4      1.0
      ...
195   -1.0
196    1.0
197    1.0
198   -1.0
199    1.0
Name: 0, Length: 200, dtype: float64

In [67]:
model = linear_model.Perceptron()
model.fit(x_train, y_train)
acc1 = metrics.accuracy_score(y_test, model.predict(x_test))
acc1

0.655

In [71]:
scaler = preprocessing.StandardScaler()
x_trainN = scaler.fit_transform(x_train)
x_testN = scaler.transform(x_test)

In [72]:
model.fit(x_trainN, y_train)
acc2 = metrics.accuracy_score(y_test, model.predict(x_testN))
acc2

0.845

In [73]:
acc2 - acc1

0.18999999999999995

In [74]:
model1 = linear_model.Perceptron()
model1.fit(x_trainN, y_train)
acc3 = metrics.accuracy_score(y_test, model1.predict(x_testN))
acc3

0.845