In [1]:
import pandas as pd
from sklearn.svm import SVC

In [2]:
df = pd.read_csv('svm.csv', header=None)
df

     0     1     2
0  0.0  0.70  0.29
1  1.0  0.23  0.55
2  0.0  0.72  0.42
3  0.0  0.98  0.68
4  0.0  0.48  0.39
5  1.0  0.34  0.73
6  0.0  0.44  0.06
7  1.0  0.40  0.74
8  0.0  0.18  0.18
9  1.0  0.53  0.53

In [3]:
x = df.iloc[:, 1:3]
x

      1     2
0  0.70  0.29
1  0.23  0.55
2  0.72  0.42
3  0.98  0.68
4  0.48  0.39
5  0.34  0.73
6  0.44  0.06
7  0.40  0.74
8  0.18  0.18
9  0.53  0.53

In [4]:
y = df.iloc[:, 0]
y

0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
5    1.0
6    0.0
7    1.0
8    0.0
9    1.0
Name: 0, dtype: float64

In [5]:
clf = SVC(C=100000, kernel='linear', random_state=241)
clf.fit(x, y)
clf.support_

array([3, 4, 9])